@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@font-face {
    font-family: 'Pokefont';
    src: url(./fonts/Pokemon-Solid.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pokefont {
    font-family: 'Pokefont';
    font-size: 6rem;
    color: #ffcb05;
    letter-spacing: .5rem;
    margin-top: .9rem;
    margin-bottom: -1rem;
    -webkit-text-stroke-width: .09rem;
    -webkit-text-stroke-color: #2a75bb;
}

html {
    font-size: 10px;
}

body {
    background-color: rgba(82, 81, 81, 0.8);
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.hubs {
    color: yellow;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2{
    color: yellow;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.image {
    display: flex;
    justify-content: center;
}

p {
    font-size: 2rem;
    color: white;
    line-height: 5rem;
    margin-bottom: 5 rem;
    text-align: center;
}

.btn {
    text-align: center;
    padding: 2.7rem 7.5rem;
    background-color: yellow;
    font-size: 2rem;
    text-decoration: none;
    color: grey;
    border-radius: 10px;
    transition: background 0.5s;
    text-align: center;
    width: 20vw;


}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 12rem;
}

.btn:hover{
    background: #dadada;
}

/* Nav Bar Styling */


.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/backround.jpg);
  background-size: cover;
  background-position: center;
  opacity: 100;
  z-index: -1000;
 }
 
 
 
 
 .logo {
  color: white;
  font-size: 28px;
  padding: 20px;
 }
 
 
 span {
  color: #ffcb05;
 }
 
 
 .navbar {
  padding-inline: 10px;
  background-color: #1c1c1d;
  z-index: 100;
 }