@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@font-face {
    font-family: 'Pokefont';
    src: url(../fonts/Pokemon-Solid.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pokefont {
    font-family: 'Pokefont';
    font-size: 6rem;
    color: #ffcb05;
    letter-spacing: .5rem;
    margin-top: .9rem;
    margin-bottom: -1rem;
    -webkit-text-stroke-width: .09rem;
    -webkit-text-stroke-color: #2a75bb;
}

html {
    font-size: 10px;
}

body {
    background-color: rgba(82, 81, 81, 0.8);
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h1 {
    color: yellow;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2{
    color: yellow;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.image {
    display: flex;
    justify-content: center;
}

p {
    font-size: 2rem;
    color: white;
    line-height: 5rem;
    margin-bottom: 5 rem;
    text-align: center;
}

.btn {
    text-align: center;
    padding: 2.7rem 7.5rem;
    background-color: yellow;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background 0.5s;
    text-align: center;
    width: 20vw;


}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 12rem;
}

.btn:hover{
    background: #dadada;
}

/* nav bar styling */

header > h1 {
    display: flex;
    justify-content: left;
  }
  
  a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
  }
  
  .navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-image: url("../images/backround.jpg") ;
  }
  
  
  
  .navbar > h1 {
    margin: auto;
  
  }
  
  .header {
    /*display: inline-block;*/
    padding: 0px 20px;
  }
  
  .header > a {
   transition: all 0.3s ease 0s;
    text-decoration: none;
    transition: text-shadow 0.3s linear;
  }
  
  button {
    font-family: 'Pokefont';
    font-size: 2rem;
      color: #ffcb05;
      letter-spacing: .5rem;
      margin-top: .9rem;
      margin-bottom: -1rem;
      -webkit-text-stroke-width: .09rem;
      -webkit-text-stroke-color: #2a75bb;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 9px 25px;
    background-color: rgb(109, 109, 109);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  
  }
  
  button:hover {
    background-color: rgba(82, 81, 81, 0.8);
  }


/* nav bar styling */