@font-face {
    font-family: 'Pokefont';
    src: url(../fonts/Pokemon-Solid.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.pokefont {
    font-family: 'Pokefont';
    font-size: 6rem;
    color: #ffcb05;
    letter-spacing: .5rem;
    margin-top: .9rem;
    margin-bottom: -1rem;
    -webkit-text-stroke-width: .09rem;
    -webkit-text-stroke-color: #2a75bb;
}

#center {
justify-content: center;
}

body {
    height: 100vh;
    width: 100vw;
}


#my-container {
    background: rgb(218,218,218);
    background: linear-gradient(0deg, rgba(218,218,218,1) 25%, rgba(227,250,243,1) 100%, rgba(218,218,218,1) 100%);
    position:absolute;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .collage {
    width: 100vw;
    height: 50vh;
    background-image: url("../images/backround.jpg") ;
  }

  #title {
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }

  #sprite-container {
    height: 66vh;
    align-items: center;
    justify-content: space-around;
  }

  #stats-container {
    height: 20vh;
  }

/* Nav Bar Styling */

a, button {
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-image: url("../images/backround.jpg") ;
  opacity: 33%;
}



.navbar > h1 {
  margin: auto;

}

.header {
  /*display: inline-block;*/
  padding: 0px 20px;
}

.header > a {
 transition: all 0.3s ease 0s;
  text-decoration: none;
  transition: text-shadow 0.3s linear;
}

button {
  font-family: 'Pokefont';
  font-size: 2rem;
    color: #ffcb05;
    letter-spacing: .5rem;
    margin-top: .9rem;
    margin-bottom: -1rem;
    -webkit-text-stroke-width: .09rem;
    -webkit-text-stroke-color: #2a75bb;
  width: 150px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 9px 25px;
  background-color: rgb(109, 109, 109);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

button:hover {
  background-color: rgba(82, 81, 81, 0.8);
}


/* Pokemon Card Styling */

.pokemon-card-container {
  margin: auto;
  background: linear-gradient(to right, #ffe55c, #ffe55c);
  width: 36rem;
  height: 50.7rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.background {
  text-align: center;
  background: linear-gradient(to right, #b1b71c, #588532);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.image-container {
  margin: auto;
  margin-top: -3rem;
  padding-left: 10px;
  border: solid;
  border-color: silver;
  background: linear-gradient(to right, #0d5a52, #2baea0);
  width: 32rem;
}

.image {
  width: 19.5rem;
  height: 19.5rem;
}

.poke-content {
  background: linear-gradient(to right, #b1b71c, #588532);
  padding: 3.2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pokemon-name {
  text-align: left;
  margin-left: 20px;
  font-size: 2.4rem;
  font-weight: lighter;
  padding-top: 10px;
}

.pokemon-type {
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  height: 3.5rem;
  width: fit-content;
  display: inline-block;
  left: 11rem;
  text-align: center;
  font-size: 1.8rem;
  position: relative;
  top: -4rem;
  margin-right: 1.8rem;
}

.pokemon-logo {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.pokemon-stats > p {
  font-size: 2rem;
  margin-left: .9rem;
  letter-spacing: 1px;
  line-height: .6rem;
  margin-bottom: 1.8rem;
}

.hr {
  margin-top: 20px;
}

